
body {
	color: rgb(102, 102, 102);
	font-family:cursive;
	font-size:13px;
	background: rgb(79, 173, 182);
     }
a, a:link, a:visited { color: #000000; font-weight: normal;  }
a:hover { color:#CC0000; text-decoration:none; }

p { margin: 0px; padding: 0 0 20px 0; font-size: 17px; font-family: cursive; color: rgb(125, 94, 94);}
img { border: none; }

h2, h3, h4, h5 { font-weight: bold; font-family: cursive;  font-style:italic;}

h1 { font-size: 32px;color: rgb(125, 94, 94); margin: 0 0 20px 0; padding: 5px 0; font-style: italic; font-family: cursive; }
h2 { font-size: 27px; color: rgb(125, 83, 83); font-weight: bold; margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px dashed #999; font-family: cursive; }
h2 span { font-size: 27px; font-weight: bold; color: rgb(125, 83, 83); font-family: cursive; }
h3 { font-size: 20px; color: rgb(125, 83, 83); margin: 0 0 15px 0; padding: 0; text-decoration: none; font-weight: normal; }
h4 { font-size: 18px; color: rgb(125, 94, 94); margin: 0 0 10px 0; padding: 0; }
h5 {
	font-size: 14px;
	height: 27px;
	width: 116px;
	color: #000;
	margin: 0;
	padding: 3px 10px 0 10px;
	text-align: center;
	background: url(h5_bg.png) no-repeat top left;
}
h6 { font-size: 12px; margin: 0 0 5px 0; padding: 0;}
blockquote { font-style: italic; }
cite { font-weight: normal; color: #1d68b6; font-size: 14px; }

.cleaner {clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 {clear: both; width:100%; height: 10px; }
.cleaner_h20 {clear: both; width:100%; height: 20px; }
.cleaner_h30 {clear: both; width:100%; height: 30px; }
.cleaner_h40 {clear: both; width:105%; height: 30px; margin-left:33px; margin-top: 20px;}
.cleaner_h50 {clear: both;  width:100%; height: 50px; }
.cleaner_h60 {clear: both; width:100%; height: 60px; }

.margin_r15 { margin-right: 15px; }
.margin_r30 { margin-right: 30px; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { padding: 8px; border: 1px solid #000; background: #0f1115; }
.fl_img { float: left; margin: 3px 30px 15px 0; }
.fr_img { float: right; margin: 3px 0 15px 15px; }

.button a {
	clear: both;
	display: block;
	width: 119px;
	height: 33px;
	padding: 3px 0 0 12px;
	background: url(images/readmore.png) no-repeat;
		
	color: #ccc;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	color: #fff;
}

ul { margin: 20px 10px; padding: 0; list-style:none; }
ul li { padding-left: 30px; padding-bottom: 3px; margin-bottom: 2px; background: url(images/ul_list.png) no-repeat center left; }
ul li a { font-weight: normal; text-decoration: none; }

.readmore a {
	clear: both;
	display: block;
	float: right;
	padding: 0px 0 2px 12px;
	background: url(images/read_more.png) center left no-repeat;

	color: #2670c3;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}

/* header */

#templatemo_header_wrapper {
	width: 95%;
	height: 82px;
	
}

#templatemo_header {
	width: 95%;
	height: 82px;
	padding: 15px;
	margin: 0 auto;
}


/* menu */

#templatemo_menu {
	float: right;
	height: 37px;
	margin-top: 12px;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 28px;
	width: 90px;
	margin-left: 20px;
	padding: 8px 0 0 0;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(68, 101, 105);
	outline: none;
	font-family: cursive;
	
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(images/menu_hover2.png) no-repeat;
}



/* end of menu */

/* end of header */

/* feature */

#templatemo_feature_wrapper {
	width: 105%;
	height: 266px;

}
					 
#templatemo_feature {
	width: 105%;
	height: 95%;
	padding: 30px 15px;
	margin: 0 auto;
	color: rgb(125, 94, 94);	
    background: url(vikendAkcija.jpg) ;

}

#feature_left {
	float: left;
	width: 440px;
}

#feature_left p {
	text-align: justify;
	

}
#feature_left p span{
	font-weight: bold;
}

#feature_right {
	float: right;
	width: 400px;
	position: relative;
	height: 200px;
	
}

#feature_image {
	position: relative;
	width: 400px;
	height: 200px;
	padding: 5px;
}

#feature_right #feature_image span {
	position:absolute;
	top: 0;
	left: 0;
	width: 420px;
	height: 173px;
	background: no-repeat;
	
}
.image{
	border-radius:30px;
}

/* end of feature */

#templatemo_content_wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 30px 15px;
}

#templatemo_content {
	width: 95%;
}

#templatemo_sidebar {
	float: right;
	width: 320px;
}

.col_w265 {
   	float: inline-start;
	width: 300px; 
   	height: 380px; 
	padding: 20px 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.col_w265 h3 {
	margin: 8px 0 8px 0;
	height: 15px;
	font-size: 16px;
	padding: 8px;
	color: rgb(61, 80, 83);
	border: 2px solid #a2cbdc;
	text-align: center;
	font-weight: bold;
    background: #73b8ba;
}
.col_w265 p {
		margin: 8px 0 8px 0; 
		height: 120px;
		font-size: 16px;
		padding: 8px;
		color: #33342c;
		border: 2px solid #a2cbdc;
		text-align: center;
		background: #73b8ba;
}
.two_col_image {
	position: relative;
    width: 280px;
	height: 200px;
	padding: 7px;
    border: 2px solid #ace2e0;
	margin-bottom: 10px;
}

.two_col_image span {
	position: absolute;
	top: 0;
	left: 0;
	width: 253px;
	height: 119px;
}

.newsbox {
	padding-bottom: 20px;
	border-bottom: 1px dashed #666;
	margin-bottom: 20px;
}

.newsbox .news_image {
	float: left;
	position: relative;
	width: 83px;
	height: 53px;
	padding: 3px;
}

.newsbox .news_image span {
	position: absolute;
	top: 0;
	left: 0;
	width: 89px;
	height: 59px;
	background: url(news_image_frame.png) no-repeat;
}

.newsbox p {
	float: right;
	width: 190px;
	margin: 0;
	padding: 0;
}

#latest_projects {
	width: 914px;
	height: 135px;
	padding: 20px 30px;
	background: url(latest_projects.png) no-repeat;
}

#latest_project_text {
	float: left;
	width: 180px;
	padding: 0 20px 0 0;
	margin-right: 15px;
	background: url(gallery_divider.png) right center no-repeat;
}

#latest_project_text p {
	font-size: 11px;
}

.project_image_box {
	float: left;
	width: 150px;
}

#latest_projects .project_image {
	position: relative;
	width: 134px;
	height: 97px;
	padding: 8px;
	margin-bottom: 5px;
}

#latest_projects h5 {
	font-size: 12px;
}

.project_image span {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 113px;
	background: url(project_image.png) no-repeat;
}


