body {
	margin-left: 50px;
	margin-right: 450px;
	padding: 0;
	line-height: 1.7em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #666666;
    background: url(poz_kontakt.jpg) no-repeat;

}

a:link, a:visited { color: #0066CC; text-decoration: none; } 
a:active, a:hover { color: #990000; text-decoration: none; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a {
	display: block;
	width: 80px;
	height: 24px;
	padding: 4px 0 0 28px;
	color: #686b53;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background: url(templatemo_button_01.png) no-repeat;
}

.button_01 a:hover {
		background: url(templatemo_button_01_hover.png) no-repeat;	
}

h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
}

h2 {
	margin: 0 50px 20px 0;
	padding: 10px 0;
	font-size: 20px;
	color: #686b53;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0px;
	font-size: 20px;
	color: #77635f;
}

.image_wrapper {
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}

.fl_image {
	float: left;
	margin-right: 30px 
}

.fr_image {
	float: right;
	margin-left: 20px 
}

.fl { float: left; }
.fr { float: right; }

.margin_r_10 { margin-right: 10px; }

.margin_r_20 { margin-right: 20px; }

.margin_r_80 { margin-right: 80px; }

/* site title */

#templatemo_site_title_bar_wrapper {
	width: 100%;
	height: 130px;
	margin: 0 auto;	
}

#templatemo_site_title_bar {
	width: 900px;
	height: 130px;
	margin: 0 auto;
	padding: 0 20px 0 60px;
}

#templatemo_site_title_bar  #site_title {
	float: left;
	padding: 30px 0 0 0;
	text-align: center;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-left: 3px;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 4px;
}

/* menu */

#templatemo_site_title_bar #templatemo_menu {
	float: right;
	width: 515px;
	height: 53px;
	padding: 39px 0 0 0;
	margin: 0 auto;

}

#templatemo_menu ul {
	margin: 0px;
	padding: 13px 0 0 20px;
	list-style: none;

}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
	
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 22px;
	padding: 3px 10px 0 5px;
	margin: 0 10px;
	text-align: center;
	font-size: 30px;
	color: #595454;
	font-style: italic;
	font-family: cursive;
	font-weight: bold;
	
}


/* end of menu*/

/* end of site title */

/* banner */

#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	height: 170px;
	margin: 0 auto;	
}

#templatemo_banner {
	width: 940px;
	height: 135px;
	margin: 0 auto;
	padding: 35px 20px 0 20px;
	color: #956969;
}

#templatemo_banner p {
	font-size: 28px;
	color: #956969;
	line-height: 34px;
	font-style: italic;
}

#templatemo_banner p span {
	
	font-style: italic;
	color: #956969;
}

/* end of banner */

/* menu */

#templatemo_follow_me_wrapper {
	width: 100%;
	margin: 0 auto;	
}

#templatemo_follow_me {
	width: 990px;
	margin: 0 auto;
	padding: 10px 0;
	text-align:right;
}

#templatemo_follow_me span {
	display: inline-block;
	padding-top: 30px;
	color: #686b53;
	font-size: 26px;
	font-weight: bold;	
	margin-right: 20px;
	font-family: cursive;
}

#templatemo_follow_me .social_network {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#templatemo_follow_me .social_network li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#templatemo_follow_me .social_network li a {
	float: right;
	display: block;
	width: 80px;
	height: 97px;
	margin-left: 10px;
}

#templatemo_follow_me .social_network li .facebook {
	background: url(images/facebook_icon.png) no-repeat;
}

#templatemo_follow_me .social_network li .instagram {
	background: url(images/instagram_icon.png) no-repeat;
}
/* end of menu */

/* content */



#templatemo_content {
	width: 950px;
	margin: 0 auto;
	padding: 30px 15px;
	color: #595454;
	font-family: cursive;
}

.product_box {
	float: left;
	width: 250px;
	height: 230px;
	background: #f8f8f3;
	border: 6px solid #f9f6ee;
	border-radius: 20px;
	padding: 8px 7px;
	margin-bottom: 10px;
	margin-left: 50px;
}
.product {
	float: left;
	margin-top: 200px;
	margin-left: 70px;
}
.product p{
font-size: 20px;

}
.product_box:hover {
	background: #e7ebce;
}

.product_box a {
	text-decoration: none;
}

.product_box a:hover {
	text-decoration: none; 
}

.product_box a img {
	border: 6px solid #f9f6ee;
	margin-left: 50px;
	border-radius: 20px;
}

.product_box h3 {
	padding: 0;
	margin: 0 0 5px 0;
	height: 40px;
	width: 235px;
	font-size: 16px;
	padding: 5px;
	color: #33342c;
	text-align: center;
	border: 3px solid #f9f6ee;
	border-radius: 20px;
}

.product_box:hover h3 {
	color: #006695;
}

.product_box p {
	color: #666666;
	font-weight: normal;
}

.product_detail_left {
	float: left;
	
}

.product_detail_left .product_img_wrapper {
	border: 10px solid #d5cccc;
	padding: 1px;
	background: #ffffff;
}

.product_detail_right {
	float: right;
	width: 300px;
}

.product_detail_right p {
	font-size: 16px;
	color: #956969;
}

.product_detail_right h3 {
	font-size: 25px;
	color: #595454;
}

.service_applied {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.service_applied li {
	margin: 0px;
	padding: 3px 0 3px 20px;
	color: #006695;
}

/* end of menu */

/* content */

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: palegoldenrod #e5dac6 url(templatemo_footer_bg.jpg) repeat-x top;
}

#templatemo_footer {
	width:910px;
	margin: 0 auto;
	padding: 30px 10px;
	color: #d4d5cd;
	background: none;
	margin-top: 20px;
}

#templatemo_footer .section_w220 {
	float: left;
	width: 200px;
	padding-right: 20px;
}

#templatemo_footer .section_w220 h4 {
	color: #ffffff;
	margin: 0 0 10px 0;
	padding: 3px 0;
}

#templatemo_footer p {
	margin-bottom: 10px;
}

.footer_list_menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.footer_list_menu li {
	margin: 0px;
	padding: 3px 0;
}

.footer_list_menu li a {
	color: #d4d5cd;
	font-weight: normal;
}

.footer_list_menu li a:hover {
	color: #ffffff;
	font-weight: normal;
}

/* end of menu */	
